<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Scorecard</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <head> 
      <h2>Market Value</h2>
      <h2>XIRR</h2>
      <h2>XIRR vs. S&P 500</h2>
      <h2>Today's S&P 500</h2>
      <h2>Total Returns:</h2>
      <h2>1 Day Change ($)</h2>
      <h2>1 Day Change (%)</h2>
      <h2>Unrealized Gains</h2>
      <h2>Realized Gains</h2>
      <form>
        <label>Edit this list</label>
        <input type='button' />
      </form>
    </head>
  </body>
</html>