@import url("reset.css")

* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #e5e5e5;
}

nav {
  height: 60px;
  width: 100%;
  background-color: white;
  /*border: 1px solid blue;*/
  padding: 0 20px 0 20px
  margin: 0;
  display: flex;
  justify-content: space-around;
}

header {
  /*box-sizing: border-box;*/
  max-width: 1190px;
  min-height: 170px;
  margin: auto;
  padding: 12px 0 0 70px;
  /*border: 1px solid red;*/
  background-color: white;
  display: flex;
}

main {
  max-width: 1190px;
  margin: auto;
  padding: 12px 35px 80px 35px;
  background-color: white;
  /*border: 1px solid blue;*/
  /*display: flex;*/
}

/*main section {
  padding: 0 0 0 60px;
}*/

.option-heading {
  /*background-color: salmon;*/
  padding: 0 0 0 60px;
}

article {
  float: left;
  background-color: #f7f7f7;
  margin: 2px 5px 10px 5px;
  display: block;
  padding: 6px 2px 4px 2px;
  box-shadow: 0px 5px 4px -5px #bdbdbd;
  /*border: 1px solid blue;*/
}

button {
  cursor: pointer;
}

section {
  /*border: 1px solid red;*/
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
}

i {
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

.metrics {
  flex: 9;
}

.list-control-sidebar {
  min-width: 95px;
  flex: 1;
}

svg {
  flex: 1;
  color: white;
  /*align-self: center;*/
  fill: currentcolor;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

button p {
  font-size: 13px;
  color: white;
  flex: 4;
  margin: 0;
  padding: 0;
  font-weight: normal;
  /*border: 1px solid green;*/
}

.editlist {
  display: inline-block;
  display: flex;
  width: 100px;
  background-color: #8c8c8c;
  border: none;
  /*padding: 6px 0px;*/
}

header g {
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  min-height: 26px;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 10px 0 10px;
  /*border: 1px solid red;*/
}

.list-controls {
  background-color: #8c8c8c;
  width: 100%;
  display: inline-block;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

label {
  color: white;
}

/*ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}*/

/*li {
  flex: 1;
  border: 1px solid green;
  display: flex;
  justify-content: center;
}*/

h2 {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  align-items: center;
  color: black;
  font-weight: 300;
  /*border: 1px solid red;*/
  align-content: center;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}

h6 {
  font-weight: 300;
  font-size: 14px;
  padding: 0 5px 0 5px;
  margin: 0 0 3px 0;
}

.metric p {
  padding: 0 5px 5px 5px;
  margin: 0;
  align-self: center;
  /*border: 1px solid red;*/
}

hr {
  display: block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.table-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(14, 1fr [col-start]);
  grid-template-rows: 50px 90%;
  align-content: start;
}


.stock-table-header {
  /*border: 1px solid seagreen;*/
  grid-column: 1 / span 14;
  /*grid-row: 1;*/
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
}

.stock-table-body {
  grid-column: 1 / span 14;
  /*grid-row: 2 / span 1;*/
  /*border: 1px solid green;*/
  margin-block-start: 0;
  margin-block-end: 1em;
  padding-inline-start: 0;
}


.stock-row {
  grid-column: 1 / span 14;
  grid-row: 2 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row1 {
  grid-column: 1 / span 14;
  grid-row: 2 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row2 {
  grid-column: 1 / span 14;
  grid-row: 3 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row3 {
  grid-column: 1 / span 14;
  grid-row: 4 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row4 {
  grid-column: 1 / span 14;
  grid-row: 5 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row5 {
  grid-column: 1 / span 14;
  grid-row: 6 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row6 {
  grid-column: 1 / span 14;
  grid-row: 7 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row7 {
  grid-column: 1 / span 14;
  grid-row: 8 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row8 {
  grid-column: 1 / span 14;
  grid-row: 9 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row9 {
  grid-column: 1 / span 14;
  grid-row: 10 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.stock-row10 {
  grid-column: 1 / span 14;
  grid-row: 11 / span 1;
  border: 1px solid #dbdbdb;
  border-style: inset;
  border-width: 1px;
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
  /*color: seagreen;*/
}

.col-head {
  flex: 1;
  padding: 5px 0 5px 0;
  text-align: center;
  /*border: 1px solid blue;*/
}

.ticker {
  flex: 1;
  /*align-content: center;*/
  /*border: 1px solid red;*/
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.price {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.one-day-change {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.buy-price {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.buy-date {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.shares {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.return-percentage {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.return-dollars {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.vs-sp {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.total-cost-basis {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.percent-portfolio {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.market-value {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.pe {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.actions {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

.col-head p {
  color: white;
  align-content: center;
  /*border: 1px solid red;*/
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

.col-head form {
  display: inline-block;
}

.col-head button {
  color: #333333;
  background-color: #333333;
  border: none;
}

.actions button svg {
  color: #333333;
  padding: 2px 6px 2px 6px;
  margin: 2px 4px 2px 4px;
}

.actions .dropbtn {
  border-radius: 4px;
  box-shadow: 0 1px 1px -3px;
  background: linear-gradient(to top, 
  #e8e8e8, white);
}

.company-ticker {
  font-size: 13px;
  /*border: 1px solid blue;*/
}

.full-company-name {
  font-size: 12px;
  /*border: 1px solid red;*/
}


.active {
  border-bottom: 3px solid black;
}

.pos {
  color: #1e6c00;
}

.neg {
  color: #c00
}

#editlist {
  color: salmon;
  cursor: pointer;
}

main hr {
  /*color: salmon;*/
  /*border: 1px solid salmon;*/
  padding: 0;
  margin: 0;
}

.option-heading {
  display: flex;
}

.table-toolbar {
  min-width: 447px;
  display: flex;
  padding: 4px;
  margin: 5px;
  /*border: 1px solid red;*/
}

.table-toolbar .search-print {
  flex: 9;
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;
  margin:  0 7px 0 0;
  padding: 0 0 0 20px;
  align-items: center;
  /*border: 1px solid red;*/
}

[for="search"] {
  margin: .5rem;
}

.print {
  /*border: 1px solid blue;*/
  display: flex;
  flex: 1;
}

.print svg {
  color: #2b2b2b;
}

.print p {
  align-self: center;
}

.table-toolbar p {
  font-weight: 300;
  font-size: 14px;
}

.table-toolbar label {
  color: inherit;
  font-weight: 300;
  font-size: 14px;
}

.table-toolbar .add-position {
  flex: 1;
  padding: 0 3px 0 3px;
  margin: 2px 4px 2px 2px;
  min-width: 148px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -2px;
  background: linear-gradient(to top, 
    #e8e8e8, white);
}

.search-print button {
  max-height: 30px;
  padding: 4px;
  margin: 4px;
  box-shadow: 0 1px 1px -3px;
  background: linear-gradient(to top, 
    #e8e8e8, white);
}

.search-print label {
  padding: 0 0 0 10px;
}

.search-print input {
  min-width: 50px;
  max-width: 155px;
  flex: 1;
  /*max-width: 100px;*/
}

.edit-table-columns {
  color: #2b2b2b;
  /*border: 1px solid black;*/
  max-width: 150px;
  min-width: 150px;
  display: inline-block;
  flex: 1;
  display: flex;
}

.edit-table-columns svg {
  margin: 0;
  padding: 0 0 0 0;
  flex: 1;
  display: inline-block;
  color: #2b2b2b;
}

.edit-table-columns p {
  color: black;
  /*border: 1px solid red;*/
  flex: 7;
  /*width: 160px;*/
  /*display: inline-block;*/
  padding: 0 0 0 0;
}

.zig-zag {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 3px;
  background: linear-gradient(to right, 
    #356697 16%, #fccc37 16% 33%, #be3913 33% 50%, #3b933b 50% 66%, #356697 66% 83%, #fccc37 83%);
  /*background: linear-gradient(to right, 
    #356697 16.6%, #fccc37 16.6% 33.3%, #be3913 33.3% 50%, #3b933b 50% 66.6%, #356697 66.6% 83.3% #fccc37 83.3%);*/
}

label {
  display: inline-block;
}

form {

}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a:hover {
  background-color: #4CAF50;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown-content {
  /*border: 1px solid red;*/
  display: none;
}

.dropbtn {
  /*border: 1px solid blue;*/
  
}

.show {
  display: block;
  width: 90px;
}

.dropdown-content .delete {
  color: white;
  background-color: #356697;
  border: none;
  width: 80px;
  margin: 1px 0 0 0;
  padding: 4px 0 4px 0;
}

.dropdown-content .delete:hover {
  color: black;
  background-color: #be3913;
  border: none;
}

.dropdown-content .edit {
  color: white;
  background-color: #356697;
  border: none;
  width: 80px;
  margin: 1px 0 0 0;
  padding: 4px 0 4px 0;
}

.dropdown-content .edit:hover {
  color: black;
  background-color: #fccc37;
  border: none;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}